.btn {
    position: relative;
    padding: 0 20upx;
    height: 80upx;
    border-radius: 10upx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFang-SC-Medium;
    font-size: 28upx;
    outline: none;
    color: $fontColor;
    &.blue {
        background: $blue;
        color: white;
        &.clear {
            color: $blue;
            background: none;
        }
    }
    &.green {
        background: #9FE970;
        color: white;
        &.clear {
            color: #9FE970;
            background: none;
        }
    }
    &.blue-grey {
        background: #88b1b7;
        color: white;
        &.clear {
            color: #88b1b7;
            background: none;
        }
    }
    &.gray {
        background: #6F6F6F;
        color: white;
    }
    &.primary {
        background: $primary;
        color: white;
        &.clear {
            color: $primary;
            background: none;
        }
    }
    &.default {
        background: #eef1f7;
    }
    &.white {
        background: white;
    }
    &.block {
        flex: 1;
        width: 100%;
    }
    &.disabled {
        background: $disabled;
    }
    &.open-btn {
        button[open-type="getUserInfo"] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
            outline: none;
            border: none;
            border-radius: 100upx;
        }
    }
}

.submit-row {
    margin-top: 50upx;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
        flex: 1;
    }
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
        margin: 30upx;
    }
}
.addtest {
    color: #6F6F6F;
}