$fontColor: #495060;
$subFontColor: #80848f;
$disabled: #bbbec4;
$title: #1c2438;
$border: #dddee1;
$divider: #e9eaec;
$primary: #88B1B7;
$primaryLinear: #98d3fe;
$primaryLinearSub: #8fe6ff;
$themeBg: #f8f8f9;
$blue: #3399ff;
$info: #f8f8f9;
$success: #19be6b;
$warning: #ff9900;
$error: #ed3f14;